/* Resposta */
.response-headers, #response-output {
    background-color: #1e1e1e;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    font-family: Consolas, "Courier New", monospace;
}

.response-headers {
    min-height: 90px;
    overflow-x: auto;
    word-wrap: break-word;
}

#response-output {
    height: 1000px;
    overflow-y: auto;
    white-space: pre-wrap;
}
